body {
    font-size: 100%;
    background-image: url("Charte/BACKGROUND/background village.png");

}

.tous
{
    background-color: rgba(255, 255, 255, 0.8);
    overflow: visible;
    margin-left: 5em;
    margin-right: 6em;
    box-shadow: -2px 1px 8px #000;

}
.to{
    background-color:#303030;
    margin-left: 5em;
    margin-right: 6em;
    box-shadow: -2px 1px 8px #000;
}


/*mettre le logo sur les naves*/
.navlog{
    position: absolute;
}
/*mettre la liste en un seul ligne*/

.navbar  ul li {
    display: table-cell;
    height: 1em;
    padding: 2em;    
}

/*position de bar nav1*/
#nav1{
    color: midnightblue;

    
}
#nav1 a{
    color: midnightblue;
   
}
/* deplasser les liste a droit */

/*elemigner l'espace entre les balise a*/
#nav3 a{
    margin-left: -3em;
    
}
#nav2 a{
    margin-left:4em ;
}



/*position de a par rapport de nav*/
a {
    position: relative;
    color:white;
    font-size: large;
    font-weight: bold;
}
#nav1{  
      margin-left: 40em; 
      margin-top: -2em;
}

#nav2{  
    margin-left: 20em; 
    margin-top: -3em;

}
#nav3 {  
    margin-left: 30em;
    margin-top: -2em;
}
.select{
    background-image: url("Charte/HEADER/3\ bandes.png");
    
}
header{
    background-color: lightgray;
}
.box{
    display: flex;
    justify-content:space-around;
    margin-top: 70px;
  
}
.bann img{
    height: 50%;
}

@media screen and (max-width: 768px) {
   
 nav ul li {
        display: flex;
        flex-direction: column;
    }
    .navlogo {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 200px;
    }
    #nav1 a{
        margin-left:-11em;
    }
    .select{
        background-image: url("Charte/HEADER/bande\ milieu2.png") ;
    }
    #nav3 a  {
        margin-left:-2em;
        color: midnightblue;
    }
    #nav2 a{
        margin-left: 7em;
        color: midnightblue;
    }
  
    .b2{
        margin-left: 8emem;
    }
    .tous
    {
        margin-left: 0em;
        margin-right: 0em;
    }
    .to{
        margin-right: 0em;
        margin-left:0em ;
    }
    .flex-container{
        width: 30%;
    }
   .vent img{
       width: 30%;
   }
    .parten img{
        width: 90%;
    }
}
/*espace client*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 5em;
    width: 30em;
    box-shadow: 10px 8px 16px 8px black;
    border-radius: 8px;
    z-index: 1;
    right:-1px;
    margin-top: -2em;

}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;


}
.dropdown-content a,input,h6,button,p{
    margin: 10px 8px;
    font-size: 80%;
}
button p{
    color: white;

}
.dropdown-content button{
    margin: auto;
}
.flex-container{

    display: flex;
    width: 300%;
    

}
.pfff{
    width: 100%;
    display: flex;
    justify-content:space-between;

}
/*espace client*/
/*photo de body*/
.col-lg-12{
    margin-top: 3em;
    margin-left: 2em;
}

/*inscri*/
h1{
    text-align: center;
}
label div{
    max-width: 10em;
}
.b1 label
{
    display: block;
    width: 100px;
    float: left;
    margin-left: 80px;
}
.b2 label
{
    display: block;
    width: 100px;
    float: left ;
}
.parti1 {

    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    max-height: 800px;
}
.envoi button{
    color: #98633c;
}
#envoyer1{
    width: 10%;

   margin-left: 45%;
    margin-top: -20%;

}

 .b1 input  {
    background-color: rgb(197, 197, 197) !important;
    border-radius: 0.3rem !important;
    border: #BBBBBB;
    height:40px;


}
.b2{
    max-height: 40%;
}
 .b2 input{
     background-color: rgb(197, 197, 197) !important;
     border-radius: 0.3rem !important;
     border: #BBBBBB;
     height: 40px;
 }

.b2 span{
    margin-left: 120px;
}
 .b2 label{
     margin-top: 10px;
 }
 .b1 label{
     margin-top: 10px;
 }
 .imgb{
     margin-top: 45px;
 }
.esp{
    margin-top: 20%;
}
.b{
    height: 20px;

}
.btn {
    background-color: #8d3d00;
    width: 100%;
}
.log{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}